<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    android:sharedUserId="ru.scancode"
    android:versionCode="27"
    android:versionName="0.0.0.21"
    android:compileSdkVersion="29"
    android:compileSdkVersionCodename="10"
    package="ru.scancode.generalservice"
    platformBuildVersionCode="29"
    platformBuildVersionName="10">

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="29" />

    <module
        dist:instant="true" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission
        android:name="com.honeywell.decode.permission.DECODE" />

    <uses-permission
        android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission
        android:name="android.permission.VIBRATE" />

    <application
        android:theme="@ref/0x7f110007"
        android:label="@ref/0x7f10001c"
        android:icon="@ref/0x7f0d0000"
        android:name="ru.scancode.generalservice.utils.App"
        android:enabled="true"
        android:debuggable="false"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:roundIcon="@ref/0x7f0d0002"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory">

        <activity
            android:name="ru.scancode.generalservice.activities.MainActivity">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="ru.scancode.generalservice.services.MainService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:enabled="true"
            android:exported="true"
            android:description="@ref/0x7f100027">

            <intent-filter>

                <action
                    android:name="android.accessibilityservice.AccessibilityService" />

                <action
                    android:name="ACTION_TEST_SERVICE" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@ref/0x7f130000" />
        </service>

        <receiver
            android:name="ru.scancode.generalservice.broadcastreceivers.PowerOnReceiver">

            <intent-filter>

                <action
                    android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="ru.scancode.generalservice.broadcastreceivers.GetSerialNumberReceiver" />

        <receiver
            android:name="ru.scancode.generalservice.broadcastreceivers.GetLicReceiver" />

        <receiver
            android:name="ru.scancode.generalservice.broadcastreceivers.LicCreatedReceiver">

            <intent-filter>

                <action
                    android:name="ACTION_SILENT_INVOKE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="ru.scancode.generalservice.broadcastreceivers.ToggleScannerReceiver">

            <intent-filter>

                <action
                    android:name="barcode_reader" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="ru.scancode.generalservice.broadcastreceivers.ToggleRFIDScannerReceiver"
            android:enabled="true"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="set_reply_action" />

                <action
                    android:name="rfid_reader" />

                <action
                    android:name="rfid_read_tag_action" />

                <action
                    android:name="rfid_stop_scan_action" />

                <action
                    android:name="rfid_write_action" />

                <action
                    android:name="rfid_read_all_action" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="ru.scancode.generalservice.scanner.readermanagers.globalpos.GlobalPosCatchBarcode">

            <intent-filter>

                <action
                    android:name="com.android.scanservice.scancontext" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="ru.scancode.generalservice.scanner.readermanagers.newland.NewLandCatchBarcode">

            <intent-filter>

                <action
                    android:name="nlscan.action.SCANNER_RESULT" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="ru.scancode.generalservice.broadcastreceivers.KeyEventSwitcherReceiver">

            <intent-filter>

                <action
                    android:name="keyboard" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
